tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding-left: 1.5rem !important;
    margin: 1.25rem 0 !important;
    overflow: visible !important;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  li {
    list-style-type: disc !important;
    overflow: visible !important;
  }

  .ProseMirror ul {
    list-style-type: disc !important;
    padding-left: 1.5rem !important;
    margin: 1.25rem 0 !important;
    overflow: visible !important;
  }

  .ProseMirror ol {
    list-style-type: decimal !important;
    padding-left: 1.5rem !important;
    margin: 1.25rem 0 !important;
    overflow: visible !important;
  }

  .ProseMirror li {
    overflow: visible !important;
  }

}